In [1]:
#importing dependencies
import glob
import terality as pd
import datetime as dt

You are using version 0.14.4 of the Terality client, but version 0.14.11 is available. Consider upgrading your version to get the latest fixes and features.

In [3]:
#establishing a base path to read in all csvs
files = glob.glob('C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBike_Data/2021/*.csv')

#creating an empty list to store the dataframes
frame = []

#writing a simple loops of what to do with the csvs
for file in files:
    frame.append(pd.read_csv(file))

#Concatenate dataframes into 1
citibike2021_df = pd.concat(frame)

C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBik
C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBik
C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/CitiBik

In [4]:
# displaying the dataframe
citibike2021_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,6339C86D47EC0FAB,docked_bike,2021-06-02 17:18:45,2021-06-02 17:26:17,W 51 St & 6 Ave,6740.10,E 66 St & Madison Ave,6969.08,40.760659,-73.980420,40.768009,-73.968453,member
1,CDE3C147775B4002,docked_bike,2021-06-04 21:01:46,2021-06-04 21:32:09,W 56 St & 10 Ave,6955.01,E 9 St & Avenue C,5616.01,40.768254,-73.988639,40.725213,-73.977688,member
2,D335C3F6B412B846,docked_bike,2021-06-15 16:39:36,2021-06-15 16:55:02,E 56 St & Madison Ave,6732.01,E 16 St & 5 Ave,6022.04,40.761573,-73.972628,40.737262,-73.992390,member
3,8DA6810777C89735,docked_bike,2021-06-08 11:36:40,2021-06-08 11:39:41,E 68 St & 3 Ave,6896.16,1 Ave & E 62 St,6753.08,40.767128,-73.962246,40.761227,-73.960940,member
4,62D9B66A3A1D9FDF,docked_bike,2021-06-18 12:48:43,2021-06-18 13:04:14,E 48 St & 5 Ave,6626.01,W 20 St & 8 Ave,6224.05,40.757245,-73.978059,40.743453,-74.000040,member

#  Dropping ride_id and rideable_type because WTF
citibike2021_df.drop(['ride_id', 'rideable_type'])
citibike2021_df.head()

In [ ]:
# Renaming the columns to match allllllll the other years because Citibike did us DIRTY

In [ ]:
# Checking column data types
citibike2021_df.dtypes

In [ ]:
citibike2021_df['starttime'] = pd.to_datetime(citibike2021_df['starttime'])
citibike2021_df['stoptime'] = pd.to_datetime(citibike2021_df['stoptime'])

In [ ]:
# Checking column data types to confirm conversion from object to datetime
citibike2021_df.dtypes

In [ ]:
# Rounding start and stop time columns to nearest second
citibike2021_df['starttime'] = citibike2021_df.starttime.dt.round('1s')
citibike2021_df['stoptime'] = citibike2021_df.stoptime.dt.round('1s')

In [ ]:
# Splitting starttime and stoptime and inserting the dates and times into their own series'
citibike2021_df['StartDate'] = pd.to_datetime(citibike2021_df['starttime']).dt.date
citibike2021_df['StartTime'] = pd.to_datetime(citibike2021_df['starttime']).dt.time
citibike2021_df['StopDate'] = pd.to_datetime(citibike2021_df['stoptime']).dt.date
citibike2021_df['StopTime'] = pd.to_datetime(citibike2021_df['stoptime']).dt.time

In [ ]:
# Writing a function to convert tripduration from seconds to hours, minutes, seconds in a new column
def format_duration(row):
    seconds = row.tripduration
    minutes, seconds = divmod(seconds, 60)
    hours, minutes = divmod(minutes, 60)
    return '{:02d} : {:02d} : {:02d}'.format(hours, minutes, seconds)

# applying the function to the dataframe
citibike2021_df['Trip Duration'] = citibike2021_df.apply(format_duration, axis=1)
citibike2021_df.head()

In [ ]:
# Getting length of dataframe
total_rows = citibike2021_df.count()
print(total_rows +1)

In [ ]:
# Exporting whole dataframe to CSVs
citibike2021_df.to_csv_folder(path_or_buf="C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/Clean_data/Citibike_2021_clean_*.csv",  num_files=20, index=False, header=True, encoding="utf-8")

In [ ]:
# Extracting columns to create separate dataframes for demographics

# Demographics to include: tripduration, usertype, birth year, gender, StartDate
demographics2021 = citibike2021_df[['tripduration', 'usertype', 'birth year', 'gender', 'StartDate']].copy()
demographics2021.head()

In [ ]:
# Exporting the dataframe to CSV
demographics2021.to_csv(path_or_buf="C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/Clean_data/Demographics/demographics2021.csv", index=False, header=True, encoding="utf-8")

In [ ]:
# Extracting columns to create separate dataframes for trip data
   
# Trip Data to include tripduration, StartDate/Time, StopDate/Time, start station id/name/latitude/longitude, stop station id/name/latitude/longitude
tripData2021 = citibike2021_df[['tripduration', 'StartDate', 'StartTime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'StopDate', 'StopTime', 'end station id', 'end station name', 'end station latitude', 'end station longitude']].copy()
tripData2021.head()

In [ ]:
# Exporting the dataframe to CSVs
tripData2021.to_csv_folder(path_or_buf="C:/Users/abrow/Desktop/EMERSON_BOOTCAMP/BOOTCAMP_AMB/Homeworks/HW13_01-29-22_Tableau_Homework/Tableau-challenge/Clean_data/StationTripData/tripData2021_*.csv",  num_files=4, index=False, header=True, encoding="utf-8")